.glass{
    
    width: 450px;
    height: 300px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 20px ;
    border:  1px solid #fff;
    overflow: hidden;
    display: inline-block;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 30px;
    transition: all 800ms ease-out;
    }
    
    .card_glass .glass::before{
        content: '';
        position: fixed;
        top: 0;
        left: -50%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, .2);
        pointer-events: none;
        transform: skewX(345deg);
    }
    
    .glass h2{
     padding: 20px;
     font-weight:  400;
     width: 100%;
     background: rgba(255, 255, 255, .2);
     color: #333;
     text-align: end;
    }
    .glass h2 i{
        font-weight: 300;
        font-size: 0.75em;
        font-style: normal;
    }

    .glass:hover{
        transform: translateY(-15px);
        transition: all 800ms ease-out;
        border-color: rgba(0, 0, 0, 0.2);
    }

    /* icons card */
    .glass span{
        display: inline-block;
        background-image: linear-gradient(140deg, #d3c862 0, #dac05a 7.14%, #e0b752 14.29%, #e5ae4b 21.43%, #eaa245 28.57%, #ee9640 35.71%, #f0883d 42.86%, #f2793c 50%, #f3693d 57.14%, #f35741 64.29%, #f34547 71.43%, #f33150 78.57%, #f11559 85.71%, #ee0064 92.86%, #e90071 100%);
        width: 100px;
        height: 100px;
        border-radius: 18% 82% 76% 24% / 36% 31% 69% 64%  ;
        text-align: center;
        align-items: center;
        font-size: 5rem;
        text-decoration: none;
        color: var(--primary);
        transition: .5s;

        overflow: hidden;
    }
    
    .glass__circule:hover{
        transform: scale(1.1);
    }
    
    .glass__circule i{
        line-height: 100px;
        color: white;
    }

   