:root{
    --white: #fff;
    --black: black;
    --amarillo: #FEB506;
}
.input-style{
    padding: 7px;
    font-size: 17px;
    border-width: 2px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 17px;
    box-shadow: 7px 3px 11px rgba(66,66,66,.55);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.input-style:focus {
    outline:none;
}

form{
    padding: 10px;
    display: grid;
   
    gap: 10px;
    
}

.tm-usuarios{
    height: 400px !important;
}

.button-submit {
	box-shadow: 1px 13px 14px -7px #8f5b0e;
	background:linear-gradient(to bottom, #d65c3e 5%, #c29f36 100%);
	background-color:#d65c3e;
	border-radius:12px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:-4px 1px 20px #829e26;
    transition: ease-out 800ms;
}
.button-submit:hover {
	background:linear-gradient(to bottom, #c29f36 5%, #d65c3e 100%);
	background-color:#c29f36;
    transform: scale(1.1);
}
.button-submitn:active {
	position:relative;
	top:1px;
}

.btn-ghost{
    position: relativate;
    display: inline-block;
    border: 2px solid var(--amarillo);
    padding: 20px 80px;
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background:  #FFC300 ;
    transition: color 0.5s, background 0.5s;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    min-width: 140px;
    text-align: center;
  }

  .red{
      background-color:rgb( 228, 92, 83);
      border: 2px solid rgb( 228, 92, 83);


  }
  .green{
    background-color:rgb(  87, 228, 83 );
    border: 2px solid rgb( 87, 228, 83 );
  }
  
  .btn-ghost.round{
    border-radius: 30px;
  }
  
  .btn-ghost.secundary{
    background-color: transparent;
    color: var(--white);
  }
  
  .btn-ghost:hover{
    color: var(--white);
    background-color: transparent;
  }
  
  .btn-ghost.secundary:hover{
    color: var(--black);
    background-color: var(--white);
  }
  
  .btn-ghost:active{
    box-shadow: inset 0 0 20px var(--white);
  }
  
  .btn-ghost.secundary:active{
    box-shadow: inset 0 0 20px var(--black);
  }



  /* table */
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  /* btn.elimnar */
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 10px;
}
.button3 {background-color: #f44336;} /* Red */ 
       
.grid--card{
    display: grid;
    grid-template-columns: repeat(1 1fr);
    justify-content: center;
}

/* grid productos */
.grid--producto{
  display: grid;
  grid-template-columns: repeat(1 1fr) ;
  justify-content: center;
  align-items: center;
}

.tm--producto{
  width: 600px !important;
  height: 600px !important;
}